[submodule "engine/vendor/spdlog"]
	path = Oven/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Oven/vendor/glfw"]
	path = Oven/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Oven/vendor/imgui"]
	path = Oven/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Oven/vendor/glm"]
	path = Oven/vendor/glm
	url = https://github.com/icaven/glm.git
[submodule "Oven/vendor/yaml-cpp"]
	path = Oven/vendor/yaml-cpp
	url = git@github.com:TheCherno/yaml-cpp.git
[submodule "Oven/vendor/imguizmo"]
	path = Oven/vendor/imguizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
