[submodule "engine/vendor/spdlog"]
	path = Oven/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Oven/vendor/glfw"]
	path = Oven/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Oven/vendor/glad"]
	path = Oven/vendor/glad
	url = https://github.com/Dav1dde/glad.git
