[submodule "engine/vendor/spdlog"]
	path = Oven/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Oven/vendor/glfw"]
	path = Oven/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Oven/vendor/imgui"]
	path = Oven/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Oven/vendor/glm"]
	path = Oven/vendor/glm
	url = https://github.com/icaven/glm.git
